[Unit]
Description=HW05 React/Elixir Practice

[Service]
Type=simple
User=practice
Group=practice
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4790
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/practice/hw05bulls
ExecStart=/bin/bash /home/practice/hw05bulls/start.sh

[Install]
WantedBy=multi-user.target
